{% extends 'book/base.html' %}

{% block title %}
    {{ title }}
{% endblock %}


{% block content %}
    <h1 id="page-title" class="title">Home Page</h1>
    <div><img class="fullscreen background-image"
              src="https://web.library.yale.edu/sites/default/files/billboards/sterling-nave-ground-level.jpg"
              alt="Sterling Memorial Library Nave"></div>
    <div class="content clearfix">
        <h1 id="page-title" class="title">News</h1></div>
    <p><span style="font-size:14px;">Sprint №1 - complete<br>Sprint №2 - complete<br>Sprint №3 -
        complete<br>Sprint №4 - complete<br>Sprint №5 - complete<br>Sprint №6 - complete<br>Sprint №7 - complete<br>Sprint
        №8 - complete<br>Sprint №9 - complete<br>Sprint №10 - complete<br>Sprint №11 - complete
        <br>Sprint №12 - complete<br>Sprint №13 - complete<br>Sprint №14 - complete<br>Sprint №15 - complete
        <br>Sprint №16 - complete<br>Sprint №16 - complete<br>Sprint №17 - complete</span>
    </p>



{% endblock %}