{% extends 'book/base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}

    <h1>List of all Users</h1>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First name</th>
      <th scope="col">Middle name</th>
      <th scope="col">Last name</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">Updated at</th>
      <th scope="col">Created at</th>
      <th scope="col">Role</th>
      <th scope="col">is active</th>
       <th <div><a type="button" class="btn btn-success btn-sm" href="/user/0">+ Add New User </a></div> </th>
    <th></th>
    </tr>
  </thead>
  <tbody>
      {% if users %}
        {% for el in users %}
                  <tr>
                    <th scope="row">{{el.id}}</th>
                    <td>{{el.first_name}}</td>
                    <td>{{el.middle_name}}</td>
                    <td>{{el.last_name}}</td>
                    <td>{{el.email}}</td>
                    <td>{{el.password}}</td>
                    <td>{{el.updated_at}}</td>
                    <td>{{el.created_at}}</td>
                    <td>{{el.role}}</td>
                    <td>{{el.is_active}}</td>
                    <td><a type="button" class="btn btn-info btn-sm" href="/user/{{ el.id }}/view">View</a>
                      <a type="button" class="btn btn-warning btn-sm" href="/user/{{ el.id }}">Update</a>
                      <a type="button" class="btn btn-danger btn-sm" href="/user/{{ el.id }}/delete">Delete</a></td>
                  </tr>
             {% endfor %}
    {% else %}
        <p>Sorry, there is no any user in our list...</p>
    {% endif %}


  </tbody>
</table>


{% endblock %}