{% extends 'book/base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}

    <h1>{{ title }}</h1>

<table class="table">
  <thead class="thead-dark">
  </thead>
  <tbody>
                  <tr>
                      <td><b>Full Name  :  </b></td>
                    <td>{{ user_by_id.first_name }}</td>
                    <td>{{ user_by_id.middle_name }}</td>
                    <td>{{ user_by_id.last_name }}</td>
                  </tr>
                  <tr>
                      <td><b>Email  :  </b></td>
                    <td>{{user_by_id.email}}</td>
                      <td><b>Password  :   </b></td>
                    <td>{{user_by_id.password}}</td>
                  </tr>
                  <tr>
                      <td><b>Created at  :  </b></td>
                    <td>{{user_by_id.created_at}}</td>
                      <td><b>Updated at  :   </b></td>
                    <td>{{user_by_id.updated_at}}</td>
                  </tr>
                  <tr>
                      <td><b>Role  :  </b></td>
                    <td>{{user_by_id.role}}</td>
                      <td><b>Is active  :   </b></td>
                    <td>{{user_by_id.is_active}}</td>
                  </tr>
  </tbody>
</table>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <a type="button" class="btn btn-success" href="/user/">Back to the list of Users</a>




{% endblock %}