{% extends 'book/base.html' %}

{% block title %}
Users
{% endblock %}


{% block content %}

    <h2>User</h2>
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        <div> <b>Name  : </b>{{form.first_name}}</div><br>
        <div> <b>Middle name  : </b>{{form.middle_name}}</div><br>
        <div> <b>Last name  : </b>{{form.last_name}}</div><br>
        <div> <b>Email : </b><div> {{form.email}}</div><br>
        <div> <b>Password : </b><div> {{form.password}}</div><br>
        <div> <b>Role : </b><div> {{form.role}}</div><br>
        <div> <b>Is active : </b><div> {{form.is_active}}</div><br>
        <input type="submit" value="Submit" class="btn btn-success btn-sm" oninvalid="">
    </form>


{% endblock %}

