{% extends 'book/base.html' %}

{% block title %}
Order
{% endblock %}



{% block content %}

    <h2>Order</h2>
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        <div> <b>User  : </b>{{form.user}}</div><br>
        <div> <b>Book     : </b>{{form.book}}</div><br>
        <div> <b>End at : </b>{{form.end_at}} <b>Change to :</b><input type="date" value={{form.end_at}}></div><br>
        <div> <b>Plated end at : </b>{{form.plated_end_at}} <b>Change to : </b><input type="date" value={{form.plated_end_at}}></div><br>
        <input type="submit" value="Submit"  class="btn btn-success btn-sm">
    </form>

{% endblock %}