{% extends 'book/base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block content %}

    <h1>List of all Authors</h1>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Surname</th>
      <th scope="col">Patronymic</th>
        <th <div><a type="button" class="btn btn-success btn-sm" href="/author/0">+ Add New Author </a></div> </th>
    <th></th>

    </tr>
  </thead>
  <tbody>
      {% if authors %}
        {% for el in authors %}
                  <tr>
                    <th scope="row">{{el.id}}</th>
                    <td>{{el.name}}</td>
                    <td>{{el.surname}}</td>
                    <td>{{el.patronymic}}</td>
                      <td><a type="button" class="btn btn-info btn-sm" href="/author/{{ el.id }}/view">View</a>
                      <a type="button" class="btn btn-warning btn-sm" href="/author/{{ el.id }}">Update</a>
                    <a type="button" class="btn btn-danger btn-sm" href="/author/{{ el.id }}/delete">Delete</a></td>
                  </tr>
             {% endfor %}
    {% else %}
        <p>Sorry, there is no any author in our list...</p>
    {% endif %}


  </tbody>
</table>


{% endblock %}